* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #87a243;
  --light-green: #e0ffcd;
  --box-shadow: 0 0 10px rgb(0 0 0/15%);
}

html {
  font-size: 16px;
  font-family: sans-serif;
  --ms-overflow-style: scrollbar;
  --ms-text-size-adjust: 100%;
  --webkit-text-size-adjust: 100%;
}
body {
  background-image: url("../img/body-bg.jpg");
  width: 100%;
}
.main {
  width: 85vw;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgb(0 0 0/10%);
  margin: 1rem auto;
  margin-top: 10rem;
  padding: 2%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.btn {
  line-height: 2;
  background-color: var(--light-green);
  padding: 5px 35px;
  display: inline-block;
  border-radius: 20px;
  color: #000;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
  z-index: 2;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: var(--green);
  color: #fff;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0.3s ease;
}
.btn:hover::before {
  width: 100%;
}
.btn:hover {
  color: #fff;
}

.empty,
.message {
  border-radius: 0.5rem;
  background: var(--green);
  padding: 1.5rem;
  text-align: center;
  font-weight: 100%;
  font-size: 1.5rem;
  text-transform: capitalize;
  line-height: 2;
  color: #fff;
}
input,
textarea,
button,
select {
  background: transparent;
  border-radius: 20px;
  padding: 1rem;
  border: none;
  outline: none;
  width: 100%;
  margin: 0.6rem 0;
  box-shadow: var(--box-shadow);
}
input[type="submit"] {
  cursor: pointer;
}
.option {
  background: var(--green);
  cursor: pointer;
  padding: 1rem;
}
label {
  text-transform: uppercase;
  color: var(--green);
  margin: 1rem 0;
}
sup {
  color: red;
}
form h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.form-container {
  width: 60vw;
  margin: 0 auto;
}
